In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mlp
import matplotlib.pyplot as plt
%matplotlib inline
# plt.show()
import warnings
warnings.filterwarnings('ignore')

from pandas_datareader import data as pdr
import yfinance as yf
from yahoo_fin import stock_info as si
from pandas import ExcelWriter
import requests
import datetime
#from datetime import datetime
import time

### Import data from csv (remember to set the correct path or the name of the file inside the same folder of this ipynb file)

In [2]:
open_df = pd.read_csv('open_2020-02-29_2021-02-28_4640', index_col='date')
high_df = pd.read_csv('high_2020-02-29_2021-02-28_4640', index_col='date')
low_df = pd.read_csv('low_2020-02-29_2021-02-28_4640', index_col='date')
adjclose_df = pd.read_csv('adjclose_2020-02-29_2021-02-28_4640', index_col='date')

In [3]:
open_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251 entries, 2020-03-02 to 2021-02-26
Columns: 4640 entries, A to ZYXI
dtypes: float64(4640)
memory usage: 8.9+ MB

In [4]:
open_df.dtypes

A       float64
AA      float64
AACG    float64
AAIC    float64
AAL     float64
         ...
ZUO     float64
ZVO     float64
ZYME    float64
ZYNE    float64
ZYXI    float64
Length: 4640, dtype: object

In [5]:
open_df.shape

(251, 4640)

In [6]:
open_df.iloc[0:3, :]

,A,AA,AACG,AAIC,AAL,AAMC,AAME,AAOI,AAON,AAP,...,ZS,ZSAN,ZTO,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
date,,,,,,,,,,,,,,,,,,,,,
2020-03-02,77.309998,14.02,1.00,5.70,19.049999,20.799999,2.48,8.95,55.150002,133.449997,...,52.810001,0.77,23.490000,133.839996,26.700001,13.33,1.58,41.290001,4.46,12.90
2020-03-03,81.889999,13.67,0.99,5.99,19.660000,20.270000,2.61,9.03,57.560001,131.520004,...,52.660000,1.01,24.889999,139.460007,25.570000,12.99,1.54,41.000000,4.20,14.14
2020-03-04,81.769997,13.17,0.97,6.10,18.360001,20.500000,2.57,9.61,57.290001,131.220001,...,52.389999,1.21,24.840000,139.949997,25.270000,12.55,1.84,39.119999,4.22,13.81

In [7]:
open_df[open_df>5]

,A,AA,AACG,AAIC,AAL,AAMC,AAME,AAOI,AAON,AAP,...,ZS,ZSAN,ZTO,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
date,,,,,,,,,,,,,,,,,,,,,
2020-03-02,77.309998,14.020000,NaN,5.70,19.049999,20.799999,NaN,8.95,55.150002,133.449997,...,52.810001,NaN,23.490000,133.839996,26.700001,13.330000,NaN,41.290001,NaN,12.900000
2020-03-03,81.889999,13.670000,NaN,5.99,19.660000,20.270000,NaN,9.03,57.560001,131.520004,...,52.660000,NaN,24.889999,139.460007,25.570000,12.990000,NaN,41.000000,NaN,14.140000
2020-03-04,81.769997,13.170000,NaN,6.10,18.360001,20.500000,NaN,9.61,57.290001,131.220001,...,52.389999,NaN,24.840000,139.949997,25.270000,12.550000,NaN,39.119999,NaN,13.810000
2020-03-05,82.139999,12.470000,NaN,5.94,17.540001,21.400000,NaN,9.19,57.900002,129.190002,...,52.619999,NaN,25.520000,140.729996,25.290001,12.230000,NaN,38.330002,NaN,14.230000
2020-03-06,77.949997,11.360000,NaN,5.69,15.020000,22.000000,NaN,8.75,56.610001,123.809998,...,53.000000,NaN,25.790001,134.919998,24.490000,11.670000,NaN,38.389999,NaN,14.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-22,125.949997,23.459999,5.6200,NaN,19.840000,23.010000,NaN,12.19,76.389999,165.130005,...,225.130005,NaN,35.810001,159.000000,45.849998,16.559999,6.10,40.540001,5.39,17.879999
2021-02-23,123.510002,23.860001,5.2100,NaN,20.680000,23.020000,NaN,11.41,75.730003,169.410004,...,203.259995,NaN,35.270000,160.369995,47.389999,15.840000,5.48,39.389999,NaN,18.500000
2021-02-24,122.260002,25.100000,NaN,NaN,20.870001,23.400000,NaN,11.36,76.680000,166.940002,...,208.380005,NaN,35.330002,161.190002,47.160000,16.299999,5.55,41.290001,NaN,18.020000
2021-02-25,124.809998,27.480000,5.4326,NaN,22.129999,24.668200,NaN,11.61,77.220001,166.529999,...,204.000000,NaN,34.490002,158.500000,48.270000,16.480000,5.60,39.020000,NaN,18.459999
2021-02-26,124.809998,27.480000,5.4326,NaN,22.129999,24.668200,NaN,11.61,77.220001,166.529999,...,204.000000,NaN,34.490002,158.500000,48.270000,16.480000,5.60,39.020000,NaN,18.459999

In [8]:
ticker_financials_df = pd.read_excel('ticker_isin_file_financials.xlsx', index_col=0)
ticker_financials_df

,isin,exchange_id,Sector,Industry,Country,P/E,EPS (ttm),Insider Own,Shs Outstand,Shs Float,...,Income,Sales,Book/sh,P/B,ROA,Target Price,ROE,ROI,Employees,Debt/Eq
ticker,,,,,,,,,,,,,,,,,,,,,
FLWS,US68243Q1067,663,Consumer Cyclical,Specialty Retail,USA,34.57,0.96,0.2610,6.432e+07,24070000,...,64500000,1590000000,6.09,5.46,0.079,35.43,0.163,0.125,4300.0,0.54
TXG,US88025U1097,663,Healthcare,Health Information Services,USA,NaN,-1.35,0.0210,101340000,71960000,...,-134300000,261900000,8.14,22.51,-0.189,157.50,-0.263,-0.068,713.0,0.00
YI,US68247Q1022,663,Healthcare,Health Information Services,China,NaN,-0.91,NaN,82430000,45810000,...,-74900000,1070000000,0.91,13.03,-0.246,12.00,-0.765,-0.562,1932.0,0.37
YQ,US81807M1062,663,Consumer Defensive,Education & Training Services,China,NaN,NaN,0.0231,191310000,50120000,...,-,154800000,NaN,NaN,NaN,NaN,NaN,0.227,2613.0,NaN
ATNF,US68236V1044,663,Healthcare,Biotechnology,USA,NaN,-1.00,0.2290,5180000,970000,...,-4700000,-,1.36,2.99,-0.388,NaN,-0.707,NaN,2.0,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CNET,US98880R1095,663,Communication Services,Advertising Agencies,China,NaN,-0.19,0.2254,21720000,20190000,...,-4000000,45700000,0.42,5.76,-0.223,NaN,-0.370,-0.145,449.0,0.01
ZYME,CA98985W1023,676,Healthcare,Biotechnology,Canada,NaN,-4.49,0.0070,50900000,36920000,...,-214900000,25100000,8.49,5.70,-0.394,59.62,-0.508,-0.613,325.0,0.00
ZYNE,US98986X1090,663,Healthcare,Drug Manufacturers - Specialty & Generic,USA,NaN,-2.08,0.0711,29240000,27350000,...,-52400000,-,2.28,1.58,-0.638,NaN,-0.742,NaN,28.0,0.00
ZYXI,US98986M1036,663,Healthcare,Medical Devices,USA,62.73,0.30,0.4020,34490000,19460000,...,10200000,68700000,1.57,11.87,0.251,27.30,0.329,0.435,283.0,0.01
ZNGA,US98986T1088,663,Communication Services,Electronic Gaming & Multimedia,USA,NaN,-0.38,0.0080,1080000000,1010000000,...,-379900000,1760000000,2.61,3.95,-0.095,11.84,-0.181,-0.109,1883.0,0.00

In [9]:
sector_gb = ticker_financials_df.groupby('Sector')
sector_gb

In [10]:
sector_gb.groups

{'Basic Materials': Index(['ASIX', 'AEM', 'APD', 'AGI', 'ALB', 'AA', 'AXU', 'AAU', 'ACH', 'AVD',
        ...
        'HCC', 'WDFC', 'WRN', 'WLK', 'WWR', 'WPM', 'WOR', 'AUY', 'YTEN',
        'ZKIN'],
       dtype='object', name='ticker', length=231),
 'Communication Services': Index(['KRKR', 'ATVI', 'AHC', 'ABNB', 'ANTE', 'ALSK', 'AESE', 'GOOGL', 'GOOG',
        'ATUS',
        ...
        'WPP', 'XNET', 'YNDX', 'YELP', 'DAO', 'ZG', 'Z', 'ZM', 'CNET', 'ZNGA'],
       dtype='object', name='ticker', length=250),
 'Consumer Cyclical': Index(['FLWS', 'GOED', 'WBAI', 'ANF', 'ASO', 'ATV', 'GOLF', 'ADNT', 'AAP',
        'AIN',
        ...
        'XSPA', 'YTRA', 'YSG', 'YETI', 'YUMC', 'YUM', 'CTIB', 'YJ', 'ZAGG',
        'ZUMZ'],
       dtype='object', name='ticker', length=474),
 'Consumer Defensive': Index(['YQ', 'TWOU', 'ACU', 'AGRO', 'ATGE', 'AFYA', 'AGFS', 'ACI', 'ALCO',
        'WTER',
        ...
        'VFF', 'VLGEA', 'VITL', 'VTRU', 'WAFU', 'WMT', 'WMK', 'FREE', 'WVVI',
        'ZVO'],
       dtype='object', name='ticker', length=210),
 'Energy': Index(['AXAS', 'AE', 'AMTX', 'PEIX', 'ALTM', 'AREC', 'AMPY', 'AM', 'AR', 'APA',
        ...
        'VVV', 'VET', 'VTNR', 'VIST', 'VOC', 'WTI', 'WLL', 'WMB', 'INT', 'YPF'],
       dtype='object', name='ticker', length=237),
 'Financial': Index(['FCCY', 'SRCE', 'QFIN', 'AMRK', 'ACEV', 'ACNB', 'STWO', 'AEG', 'AMG',
        'AFL',
        ...
        'WRLD', 'WSFS', 'WVFC', 'XYF', 'HX', 'XP', 'YRD', 'YAC', 'ZNTE',
        'ZION'],
       dtype='object', name='ticker', length=784),
 'Healthcare': Index(['TXG', 'YI', 'ATNF', 'ONEM', 'XXII', 'FDMT', 'ETNB', 'NMTR', 'MASS',
        'ABT',
        ...
        'ZCMD', 'ZBH', 'ZIOP', 'ZTS', 'ZGNX', 'ZOM', 'ZSAN', 'ZYME', 'ZYNE',
        'ZYXI'],
       dtype='object', name='ticker', length=1046),
 'Industrials': Index(['MMM', 'JOBS', 'AAON', 'AIR', 'AAN', 'ABB', 'ABM', 'ACTG', 'ACCO',
        'AYI',
        ...
        'WHLM', 'WLDN', 'WLFC', 'WSC', 'WNS', 'WWD', 'XPO', 'XYL', 'YRCW',
        'ZTO'],
       dtype='object', name='ticker', length=559),
 'Real Estate': Index(['AKR', 'MITT', 'AGNC', 'ADC', 'ALEX', 'ALX', 'ARE', 'ACC', 'AFIN',
        'AMH',
        ...
        'UE', 'VER', 'VICI', 'VNO', 'WPC', 'WELL', 'WMC', 'WY', 'WSR', 'XIN'],
       dtype='object', name='ticker', length=211),
 'Technology': Index(['VNET', 'DDD', 'EGHT', 'JFU', 'ATEN', 'ABST', 'ACIA', 'ACN', 'ACIW',
        'ACMR',
        ...
        'XPER', 'YALA', 'YEXT', 'ZBRA', 'ZDGE', 'ZEN', 'ZIXI', 'ZI', 'ZS',
        'ZUO'],
       dtype='object', name='ticker', length=631),
 'Utilities': Index(['AES', 'AQN', 'ALE', 'LNT', 'AEE', 'AEP', 'AWR', 'AWK', 'ARTNA', 'AT',
        'AY', 'ATO', 'AGR', 'AVA', 'AZRE', 'BKH', 'BIPC', 'BEPC', 'CDZI', 'CWT',
        'CNP', 'EBR', 'EBR-B', 'CEPU', 'CPK', 'CWEN', 'CWEN-A', 'CMS', 'SBS',
        'CIG', 'ELP', 'ED', 'CWCO', 'D', 'DTE', 'DUK', 'EIX', 'ELLO', 'EDN',
        'ENIA', 'ENIC', 'ETR', 'WTRG', 'EVRG', 'ES', 'EXC', 'FE', 'FTS', 'HTOO',
        'GNE', 'HE', 'HNP', 'IDA', 'IPLDP', 'JE', 'KEN', 'KEP', 'MGEE', 'MSEX',
        'NGG', 'NFE', 'NJR', 'NEE', 'NEP', 'NI', 'NWN', 'NWE', 'NRG', 'OGE',
        'OGS', 'OEG', 'ORA', 'OTTR', 'PAM', 'PCG', 'PICO', 'PNW', 'PNM', 'POR',
        'PPL', 'PEG', 'PCYO', 'RGCO', 'SRE', 'SJW', 'SJI', 'SO', 'SWX', 'SPKE',
        'SR', 'TVE', 'TAC', 'UGI', 'UTL', 'VST', 'WEC', 'XEL', 'YORW'],
       dtype='object', name='ticker')}

In [11]:
exid_gb = ticker_financials_df.groupby('exchange_id')
exid_gb

In [12]:
exid_gb.groups

{650: Index(['GOED', 'XXII', 'ACU', 'ATNM', 'AE', 'ACY', 'UAVS', 'AGE', 'AIM',
        'AIRI',
        ...
        'VGZ', 'VNRX', 'VOLT', 'WRN', 'WYY', 'WTT', 'XTNT', 'YUMA', 'ZDGE',
        'ZOM'],
       dtype='object', name='ticker', length=204),
 663: Index(['FLWS', 'TXG', 'YI', 'YQ', 'ATNF', 'ONEM', 'FCCY', 'SRCE', 'VNET',
        'TWOU',
        ...
        'ZM', 'ZI', 'ZSAN', 'ZVO', 'ZS', 'ZUMZ', 'CNET', 'ZYNE', 'ZYXI',
        'ZNGA'],
       dtype='object', name='ticker', length=2818),
 676: Index(['DDD', 'MMM', 'WBAI', 'EGHT', 'ATEN', 'AIR', 'AAN', 'ABB', 'ABT',
        'ABBV',
        ...
        'YPF', 'YAC', 'YUMC', 'YUM', 'ZEN', 'ZBH', 'ZTS', 'ZTO', 'ZUO', 'ZYME'],
       dtype='object', name='ticker', length=2118),
 1004: Index(['HRTH', 'RELVD', 'TLFA'], dtype='object', name='ticker')}

In [13]:
sector_gb.describe()

                       exchange_id                                       \
                             count        mean        std    min    25%
Sector
Basic Materials              231.0  668.571429  10.306725  650.0  663.0
Communication Services       250.0  667.316000   6.664669  650.0  663.0
Consumer Cyclical            474.0  669.253165   7.030231  650.0  663.0
Consumer Defensive           210.0  668.819048   6.960972  650.0  663.0
Energy                       237.0  670.624473   8.934692  650.0  663.0
Financial                    784.0  667.974490   6.655114  650.0  663.0
Healthcare                  1046.0  663.981836   5.071419  650.0  663.0
Industrials                  559.0  669.116279   7.571102  650.0  663.0
Real Estate                  211.0  672.488152   6.444163  650.0  676.0
Technology                   631.0  665.925515   6.259152  650.0  663.0
Utilities                     98.0  673.346939   5.587361  650.0  676.0

                                               P/E              ... Employees  \
                          50%    75%    max  count        mean  ...       75%
Sector                                                          ...
Basic Materials         676.0  676.0  676.0  122.0   50.855000  ...   8576.00
Communication Services  663.0  676.0  676.0  106.0   88.636038  ...   9150.00
Consumer Cyclical       676.0  676.0  676.0  227.0   98.837753  ...  16150.00
Consumer Defensive      663.0  676.0  676.0  138.0  242.668841  ...  16250.25
Energy                  676.0  676.0  676.0   66.0   28.644394  ...   3560.50
Financial               663.0  676.0  676.0  551.0   55.138348  ...   4259.00
Healthcare              663.0  663.0  676.0  197.0  342.788325  ...    579.00
Industrials             676.0  676.0  676.0  330.0   51.804879  ...  11500.00
Real Estate             676.0  676.0  676.0  126.0   61.995556  ...   1200.00
Technology              663.0  676.0  676.0  299.0  172.816087  ...   5960.00
Utilities               676.0  676.0  676.0   77.0   28.284286  ...  10986.50

                                  Debt/Eq                                    \
                              max   count      mean        std  min     25%
Sector
Basic Materials          191000.0   191.0  0.801990   1.099413  0.0  0.1050
Communication Services   235000.0   194.0  1.359124   3.434604  0.0  0.0225
Consumer Cyclical       1125300.0   400.0  3.372600  16.759305  0.0  0.0475
Consumer Defensive      2200000.0   184.0  1.251522   2.823020  0.0  0.0975
Energy                   450337.0   206.0  1.963301   9.187117  0.0  0.0625
Financial                391500.0   659.0  1.417678   7.357560  0.0  0.0200
Healthcare               325000.0   881.0  1.263031  16.207158  0.0  0.0000
Industrials              495000.0   525.0  1.236419   2.687119  0.0  0.1300
Real Estate              100000.0   204.0  2.179167   3.057227  0.0  0.6500
Technology               506000.0   583.0  1.146449   5.246291  0.0  0.0000
Utilities                 57415.0    86.0  1.518721   1.556526  0.0  0.8850


                          50%     75%     max
Sector
Basic Materials         0.460  1.0250    7.34
Communication Services  0.460  1.2350   34.24
Consumer Cyclical       0.610  1.6550  225.08
Consumer Defensive      0.525  1.0925   25.07
Energy                  0.550  1.4300  112.21
Financial               0.180  0.5300  139.58
Healthcare              0.030  0.4700  443.64
Industrials             0.530  1.2900   32.81
Real Estate             1.090  2.5550   22.31
Technology              0.210  0.8250   81.93
Utilities               1.230  1.6325   10.65

[11 rows x 96 columns]

In [14]:
open_df.duplicated()

date
2020-03-02    False
2020-03-03    False
2020-03-04    False
2020-03-05    False
2020-03-06    False
              ...
2021-02-22    False
2021-02-23    False
2021-02-24    False
2021-02-25    False
2021-02-26     True
Length: 251, dtype: bool

In [15]:
if open_df.isnull().values.any():
    print('open shape before: ', open_df.shape)
    open_df.dropna(axis=1, how='any', inplace=True)
    print('open shape after: ', open_df.shape)    
if high_df.isnull().values.any():
    print('high shape before: ', high_df.shape)
    high_df.dropna(axis=1, how='any', inplace=True)
    print('high shape after: ', high_df.shape)  
if low_df.isnull().values.any():
    print('low shape before: ', low_df.shape)
    low_df.dropna(axis=1, how='any', inplace=True)
    print('low shape after: ', low_df.shape)    
if adjclose_df.isnull().values.any():
    print('high shape before: ', adjclose_df.shape)
    adjclose_df.dropna(axis=1, how='any', inplace=True)
    print('high shape after: ', adjclose_df.shape)

open shape before:  (251, 4640)
open shape after:  (251, 4634)
high shape before:  (251, 4640)
high shape after:  (251, 4634)
low shape before:  (251, 4640)
low shape after:  (251, 4634)
high shape before:  (251, 4640)
high shape after:  (251, 4634)

In [16]:
open_df.drop(index='2021-02-26', inplace=True)
high_df.drop(index='2021-02-26', inplace=True)
low_df.drop(index='2021-02-26', inplace=True)
adjclose_df.drop(index='2021-02-26', inplace=True)

In [17]:
open_df.tail(1)

,A,AA,AACG,AAIC,AAL,AAMC,AAME,AAOI,AAON,AAP,...,ZS,ZSAN,ZTO,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
date,,,,,,,,,,,,,,,,,,,,,
2021-02-25,124.809998,27.48,5.4326,4.11,22.129999,24.6682,4.69,11.61,77.220001,166.529999,...,204.0,1.36,34.490002,158.5,48.27,16.48,5.6,39.02,4.93,18.459999

In [21]:
adjclose_rel_var = (adjclose_df-open_df)/open_df
adjclose_rel_var.tail()

,A,AA,AACG,AAIC,AAL,AAMC,AAME,AAOI,AAON,AAP,...,ZS,ZSAN,ZTO,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
date,,,,,,,,,,,,,,,,,,,,,
2021-02-19,-0.011993,0.072820,-0.001764,0.023077,0.043575,-0.023810,-0.102515,0.025000,0.017442,-0.009370,...,0.002128,-0.013245,-0.004582,-0.046938,0.015663,0.008993,0.009006,0.003415,-0.067126,0.024656
2021-02-22,-0.019452,0.057119,-0.040925,0.020408,0.030242,0.006953,0.068966,-0.036915,-0.005105,0.015563,...,-0.051881,-0.006711,0.005027,0.007296,0.041440,-0.005435,-0.077049,-0.000740,-0.089054,0.063758
2021-02-23,-0.008825,0.043588,-0.143954,-0.027094,-0.000967,0.019983,-0.071579,-0.000876,0.014525,-0.019007,...,0.015989,-0.045455,0.002552,-0.005300,-0.012872,0.015152,-0.009124,0.042143,0.021505,-0.023243
2021-02-24,0.022575,0.083665,0.104803,0.064767,0.045520,0.011538,0.011161,0.022007,0.015649,-0.004732,...,-0.002735,0.102362,-0.018115,-0.013276,0.017600,0.023313,0.118919,-0.023977,0.052521,0.022198
2021-02-25,-0.001763,-0.039483,-0.068586,-0.007299,-0.041347,0.036963,-0.021322,0.004307,-0.003238,-0.025341,...,-0.030221,-0.055000,-0.013192,-0.009274,-0.031075,-0.029733,-0.096446,-0.030215,-0.040791,-0.054540

In [22]:
high_low_var = (high_df-low_df)
high_low_var.tail()

,A,AA,AACG,AAIC,AAL,AAMC,AAME,AAOI,AAON,AAP,...,ZS,ZSAN,ZTO,ZTS,ZUMZ,ZUO,ZVO,ZYME,ZYNE,ZYXI
date,,,,,,,,,,,,,,,,,,,,,
2021-02-19,2.409996,1.790001,0.4100,0.14,1.049999,3.379999,0.66,0.600000,1.959999,3.619995,...,4.679993,0.130,0.900002,8.619995,2.079998,0.420000,0.580,1.544998,0.440,0.809999
2021-02-22,3.070007,2.425001,0.4600,0.15,1.800001,1.730000,0.67,0.633000,1.669998,4.809998,...,12.350006,0.080,1.244999,2.750000,1.990002,0.470001,0.587,1.139999,0.740,1.320000
2021-02-23,3.099998,2.139999,1.2000,0.18,2.309999,1.260000,0.55,1.130000,2.199997,5.559998,...,16.239990,0.200,1.469997,2.559998,1.660000,1.445001,0.470,3.380001,0.795,1.240000
2021-02-24,3.400002,2.190001,0.5600,0.28,1.370001,2.510000,0.16,0.679999,2.800003,3.639999,...,7.239990,0.300,1.060001,2.770004,1.610001,0.880000,1.015,2.000000,0.399,0.830000
2021-02-25,2.010002,1.855000,0.4769,0.14,1.580000,2.570000,0.19,0.435000,4.159996,4.380005,...,13.735001,0.105,1.012699,2.800003,1.930000,0.820001,0.790,3.130001,0.365,1.059999

In [24]:
from sklearn import preprocessing

In [25]:
# standardization
preprocessing.scale(high_low_var)

array([[ 1.92869604,  0.30292312, -0.17610186, ...,  0.14379405,
         0.26598518, -0.02240291],
       [ 2.72648691,  1.38527537, -0.15748524, ...,  1.75768919,
        -0.15841064,  0.62480174],
       [ 1.0561089 , -0.50558213, -0.0830186 , ...,  0.01077933,
        -0.648098  , -0.30866739],
       ...,
       [ 0.54917829,  3.48477643,  0.92227999, ...,  0.9330061 ,
         1.4902028 , -0.09708096],
       [ 0.79849071,  3.61518331,  0.32654729, ..., -0.29071775,
         0.19742929, -0.60737723],
       [-0.35664458,  2.74147461,  0.24919531, ...,  0.71131717,
         0.08643382, -0.32111393]])

In [29]:
# possiamo procedere con lo scaling tramite scikit-learn:
high_low_var_scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
high_low_var_scaled = high_low_var_scaler.fit_transform(high_low_var)
high_low_var_scaled

array([[0.58962966, 0.30804585, 0.00122699, ..., 0.30632111, 0.12743633,
        0.21505374],
       [0.73185191, 0.49885033, 0.00245399, ..., 0.60129675, 0.07871065,
        0.32688157],
       [0.43407348, 0.165517  , 0.00736197, ..., 0.28200968, 0.02248873,
        0.16559127],
       ...,
       [0.34370292, 0.86896478, 0.07361965, ..., 0.45056737, 0.26799104,
        0.20215042],
       [0.38814786, 0.8919538 , 0.03435582, ..., 0.22690431, 0.1195653 ,
        0.11397842],
       [0.1822218 , 0.73793044, 0.02925767, ..., 0.41004873, 0.1068217 ,
        0.16344068]])

In [ ]:
df = pd.DataFrame(data=high_low_var_scaled, index=, columns=)

In [30]:
high_low_var.columns

Index(['A', 'AA', 'AACG', 'AAIC', 'AAL', 'AAMC', 'AAME', 'AAOI', 'AAON', 'AAP',
       ...
       'ZS', 'ZSAN', 'ZTO', 'ZTS', 'ZUMZ', 'ZUO', 'ZVO', 'ZYME', 'ZYNE',
       'ZYXI'],
      dtype='object', length=4634)